[[extend 'layout_ext.html']]

[[if grid.form:]]
   <div class="columns is-centered">
      <div class="box column is-half-desktop">
         <div class="column">
            <div class="title is-2 has-text-dark">
               [[=title]]
            </div>
            [[if grid.path.split('/')[0] == 'details':]]
               [[=grid.form.custom.begin]]
               [[for fn in ['email','first_name','last_name']:]]
                  <div class="field is-horizontal">
                     <div class="field-label">
                        [[=grid.form.custom.labels[fn] ]]
                     </div>
                     <div class="field-body">
                        [[=grid.form.custom.widgets[fn] ]]
                     </div>
                  </div>
               [[pass]]
               [[=grid.form.custom.submit]]
               [[=grid.form.custom.end]]
            [[else:]]
               [[=grid.form]]
            [[pass]]
         </div>
      </div>
   </div>
[[else:]]
   [[=grid.render()]]
[[pass]]
